<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Extintores</title>
    <th:block th:replace="layout :: head"></th:block>
</head>
<body>
<div th:replace="layout :: nav"></div>
<div class="container">
    <div class="page-header">
        <h2>Extintores registrados</h2>
        <a href="/extintores/nuevo" class="btn btn-primary">+ Nuevo Extintor</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Número de Serie</th>
            <th>Ubicación</th>
            <th>Tipo</th>
            <th>Capacidad (Kg)</th>
            <th>Próximo Servicio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="extintor : ${extintores}">
            <td th:text="${extintor.id}"></td>
            <td th:text="${extintor.numeroSerie}"></td>
            <td th:text="${extintor.ubicacion}"></td>
            <td th:text="${extintor.tipo}"></td>
            <td th:text="${extintor.capacidadKg}"></td>
            <td th:text="${extintor.proximoServicio}"></td>
            <td>
                <span th:if="${extintor.activo}" class="badge-aprobado">Activo</span>
                <span th:unless="${extintor.activo}" class="badge-rechazado">Inactivo</span>
            </td>
            <td style="display: flex; gap: 0.5rem; align-items: center;">
                <!--Botón para observar inspecciones-->
                <a th:href="@{/extintores/{id}/inspecciones(id=${extintor.id})}" class="btn btn-secondary">Ver inspecciones</a>
                <!--Botón para editar inspecciones-->
                <a th:href="@{/extintores/{id}/editar(id=${extintor.id})}" class="btn btn-primary">Editar</a>
                <!--Botón para eliminar el extintor-->
                <form th:action="@{/extintores/{id}/eliminar(id=${extintor.id})}" method="post" style="display:inline">
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('¿Seguro que deseas eliminar este extintor?')">
                        Eliminar
                    </button>
                </form>
            </td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>